*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.quiz-container{
    background-color: white;
    height: 450px;
    width: 500px;
    position: relative;
    border-radius: 10px;

}
.Question{
    text-align: center; 
    margin: 30px;
}
.para-ques{
    font-size: 1.5rem;
    margin: 30px;
    text-align: center;
}
ul{
    list-style: none;

}
li{
    font-size: 1.2rem;
    padding-left: 30px;
    margin: 20px;

}
.btn{
    background-color: goldenrod;
    border: none;
    height: 50px;
    width: 100%;
    font-size: 1.2rem;
    position: absolute;
    border-radius: 10px;
}